/Lib
/Scripts
/Include
/bin
/share
/cache

pyvenv.cfg


# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

/evaluationResults/
/Fine-Tuned Models/
/tests/
fletApp/storage/
fletApp/

hospital_assistant_index/